<div class="navbar-default" id="footer">
    <div class="container">
        <span class="navbar-text">
            &copy; 2013-{{ year }}
            <a href="https://childrenofur.com">Children of Ur</a>
            Development Team
        </span>
        <span class="navbar-text">
            <i class="fab fa-gitlab text-warning"></i>
            <a href="https://gitlab.com/ChildrenOfUr/forum_server_3">
                Open source software
            </a>
        </span>
    </div>
</div>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
