/* Page */

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Lato", sans-serif;
    padding-top: 100px;
    padding-bottom: 50px;
    margin-bottom: 60px;
    min-height: calc(100vh - 60px);
    font-size: 15px;
}

::selection {
	background-color: #4b2e4c;
	color: #eee
}

/* Content */

h1, h2, h3, .navbar-brand {
    font-family: "Fredoka One", "Lato", sans-serif;
}

span[title] {
    cursor: help;
}

.list-group-item .fas {
    margin-right: 1em;
}

.avatar-head {
    min-width: 100px;
}

/* Navbars */

@media (min-width: 768px) {
    #navbar-top::after {
        content: url(../img/sloth.png);
        position: absolute;
        left: 5px;
        top: 47px;
        z-index: 10;
    }

    ul.navbar-nav > li.active > a {
        border-radius: 10px;
        margin-top: -20px;
        top: 27px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

#footer a,
.navbar-default .navbar-brand,
.navbar-default li a,
.navbar-default ul.navbar-nav li a {
    color: #4b2e4c !important;
}

.navbar-brand img {
    display: inline;
    margin-top: -3px;
}

a.navbar-brand:hover,
ul.navbar-nav > li > a:hover {
    color: #ac6baf !important;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    margin-bottom: 0;
}
