@import url(https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Fredoka+One);

body {
    font-family: "Lato", sans-serif;
}

h1, h2, h3 {
    font-family: "Fredoka One", "Lato", sans-serif;
}

a {
    color: #4b2e4c;
}
