<!doctype html>
<html lang="en">
<head>
    {% include "common/head.html" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
    <title>Error 404 | CoU Forums</title>
</head>
<body>
{% include "common/navbar.html" %}

<div class="container text-center">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="text-danger">
                Error 404
            </h1>
            <h3>
                Page not found!
            </h3>
            <br>
            <a href="/" class="btn btn-primary btn-lg">
                <i class="fas fa-undo-alt"></i>
                Go to Forums Homepage
            </a>
        </div>
        <div class="col-sm-6">
            <div class="err-cubimal"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr>
            <p class="lead text-muted text-center">
                <i>{{ lyric }}</i>
            </p>
        </div>
    </div>
</div>

{% include "common/foot.html" %}
</body>
</html>
