<!doctype html>
<html lang="en">
<head>
    {% include "common/head.html" %}
    <title>{{ category.name }} | CoU Forums</title>
</head>
<body>
{% include "common/navbar.html" %}

<div class="container">
    <!-- Header -->
    <div class="row">
        <div class="{{ 'col-sm-9' if logged_in else 'col-md-12' }}">
            <div class="page-header">
                <h1>
                    <small>Posts in</small>
                    {{ category.name }}
                </h1>
                <h4>{{ category.description }}</h4>
            </div>
        </div>
        {% if logged_in %}
        <div class="col-sm-3">
            <br>
            <a href="new" class="btn btn-success btn-block btn-lg">
                <i class="fas fa-edit"></i>
                Create post
            </a>
        </div>
        {% endif %}
    </div>

    <!-- Posts -->
    <div class="grid row">
        {% if not posts %}
        <div class="col-md-12">
            <div class="alert alert-warning">There are no posts in this category.</div>
        </div>
        {% endif %}

        {% for post in posts %}
        <div class="grid-item col-sm-6 col-md-4 col-lg-3">
            {% include "common/preview.html" %}
        </div>
        {% endfor %}
    </div>

    <!-- Pagination -->
    <div class="row">
        <div class="col-md-12 text-center">
            <hr>
            <ul class="pagination">
                {% if page > 1 %}
                <li>
                    <a href="./{{ page - 1 }}">&laquo;</a>
                </li>
                {% endif %}
                {% for i in range(1, num_pages + 1) %}
                <li class="{{ 'active' if i == page }}">
                    <a href="./{{ i }}">{{ i }}</a>
                </li>
                {% endfor %}
                {% if page < num_pages %}
                <li>
                    <a href="./{{ page + 1 }}">&raquo;</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% include "common/foot.html" %}
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="{{ url_for('static', filename='js/masonry.js') }}"></script>
</body>
</html>
